.carousel-indicators [data-bs-target] {
  border-radius: 33px;
  background-color: #FFFFFF0D;
  cursor: pointer;
  min-width: 16px;
  min-height: 11px;
  transition: opacity 0.6s ease;
}

.carousel-home .carousel-indicators {
  position: relative;
}

.carousel-trending .carousel-indicators {
  position: absolute;
  top: calc(85% + 5px);
}

.carousel-indicators .active {
  background-color: #FFFFFF40;
}

.carousel-trending .category {
  min-width: 57px;
  min-height: 24px;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 23px;
  background-color: #FFFFFF26;
  color: white;
  font-size: 14px;
}