.menu {
  background-color: var(--color-background);
}

.menu .search-input {
  padding-left: 40px; /* Espacio para el ícono */
  padding-right: 200px;
  background-image: var(--search-icon-url);
  background-repeat: no-repeat;
  background-position: 10px center; /* Ajusta la posición del ícono */
  background-size: 20px; /* Ajusta el tamaño del ícono */
}

.menu .search-input:focus {
  border-color: var(--btn-green-bg);
}